USE [BD_CeramicasWari]
GO
/****** Objeto: Table [dbo].[ARTESANO] Fecha de script: 18/08/2026 22:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTESANO](
	[id_artesano] [int] IDENTITY(1,1) NOT NULL,
	[dni] [char](8) NOT NULL,
	[nombres] [varchar](80) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[especialidad] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_artesano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CLIENTE] Fecha de script: 18/08/2026 22:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombres_razon_social] [varchar](150) NOT NULL,
	[telefono] [varchar](20) NULL,
	[email] [varchar](120) NULL,
	[pais] [varchar](60) NOT NULL,
	[ciudad] [varchar](60) NOT NULL,
	[deuda_pendiente] [decimal](10, 2) NOT NULL,
	[dias_mora] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DETALLE_PEDIDO] Fecha de script: 18/08/2026 22:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_PEDIDO](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_pedido] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[subtotal]  AS ([cantidad]*[precio_unitario]) PERSISTED,
	[observaciones] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DETALLE_PEDIDO] UNIQUE NONCLUSTERED 
(
	[id_pedido] ASC,
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EXPORTACION] Fecha de script: 18/08/2026 22:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPORTACION](
	[id_exportacion] [int] IDENTITY(1,1) NOT NULL,
	[fecha_despacho] [date] NOT NULL,
	[courier] [varchar](80) NOT NULL,
	[num_seguimiento] [varchar](50) NOT NULL,
	[estado_envio] [varchar](20) NOT NULL,
	[id_pedido] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_exportacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[num_seguimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MATERIA_PRIMA] Fecha de script: 18/08/2026 22:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIA_PRIMA](
	[id_materia] [int] IDENTITY(1,1) NOT NULL,
	[nombre_material] [varchar](100) NOT NULL,
	[unidad_medida] [varchar](20) NOT NULL,
	[stock_actual] [decimal](10, 2) NOT NULL,
	[stock_minimo] [decimal](10, 2) NOT NULL,
	[id_proveedor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PAGO] Fecha de script: 18/08/2026 22:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[fecha_pago] [date] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[tipo_pago] [varchar](15) NOT NULL,
	[id_pedido] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PEDIDO] Fecha de script: 18/08/2026 22:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[fecha_pedido] [date] NOT NULL,
	[total_pedido] [decimal](10, 2) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_entrega_acordada] [date] NOT NULL,
	[id_cliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PRODUCCION] Fecha de script: 18/08/2026 22:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCCION](
	[id_produccion] [int] IDENTITY(1,1) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NULL,
	[cantidad_piezas] [int] NOT NULL,
	[etapa_actual] [varchar](20) NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_artesano] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_produccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PRODUCTO] Fecha de script: 18/08/2026 22:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[codigo_producto] [varchar](20) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[precio_lista] [decimal](10, 2) NOT NULL,
	[stock_actual] [int] NOT NULL,
	[descripcion_cultural] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PROVEEDOR] Fecha de script: 18/08/2026 22:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[razon_social] [varchar](150) NOT NULL,
	[localidad] [varchar](40) NOT NULL,
	[telefono] [varchar](20) NULL,
	[certificado_calidad] [bit] NOT NULL,
	[plazo_credito_dias] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT ((0)) FOR [deuda_pendiente]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT ((0)) FOR [dias_mora]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  DEFAULT ((0)) FOR [stock_actual]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PEDIDO] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[PEDIDO] ([id_pedido])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_DETALLE_PEDIDO]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PRODUCTO] FOREIGN KEY([id_producto])
REFERENCES [dbo].[PRODUCTO] ([id_producto])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_DETALLE_PRODUCTO]
GO
ALTER TABLE [dbo].[EXPORTACION]  WITH CHECK ADD  CONSTRAINT [FK_EXPORTACION_PEDIDO] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[PEDIDO] ([id_pedido])
GO
ALTER TABLE [dbo].[EXPORTACION] CHECK CONSTRAINT [FK_EXPORTACION_PEDIDO]
GO
ALTER TABLE [dbo].[MATERIA_PRIMA]  WITH CHECK ADD  CONSTRAINT [FK_MATERIA_PROVEEDOR] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[PROVEEDOR] ([id_proveedor])
GO
ALTER TABLE [dbo].[MATERIA_PRIMA] CHECK CONSTRAINT [FK_MATERIA_PROVEEDOR]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_PEDIDO] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[PEDIDO] ([id_pedido])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_PAGO_PEDIDO]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_CLIENTE] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_CLIENTE]
GO
ALTER TABLE [dbo].[PRODUCCION]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCCION_ARTESANO] FOREIGN KEY([id_artesano])
REFERENCES [dbo].[ARTESANO] ([id_artesano])
GO
ALTER TABLE [dbo].[PRODUCCION] CHECK CONSTRAINT [FK_PRODUCCION_ARTESANO]
GO
ALTER TABLE [dbo].[PRODUCCION]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCCION_PRODUCTO] FOREIGN KEY([id_producto])
REFERENCES [dbo].[PRODUCTO] ([id_producto])
GO
ALTER TABLE [dbo].[PRODUCCION] CHECK CONSTRAINT [FK_PRODUCCION_PRODUCTO]
GO
ALTER TABLE [dbo].[ARTESANO]  WITH CHECK ADD CHECK  ((len([dni])=(8) AND NOT [dni] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD CHECK  (([deuda_pendiente]>=(0)))
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD CHECK  (([dias_mora]>=(0)))
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD CHECK  (([precio_unitario]>(0)))
GO
ALTER TABLE [dbo].[EXPORTACION]  WITH CHECK ADD CHECK  (([estado_envio]='Entregado' OR [estado_envio]='Enviado' OR [estado_envio]='Embalado'))
GO
ALTER TABLE [dbo].[MATERIA_PRIMA]  WITH CHECK ADD CHECK  (([stock_actual]>=(0)))
GO
ALTER TABLE [dbo].[MATERIA_PRIMA]  WITH CHECK ADD CHECK  (([stock_minimo]>=(0)))
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD CHECK  (([monto]>(0)))
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD CHECK  (([tipo_pago]='Contado' OR [tipo_pago]='Saldo' OR [tipo_pago]='Adelanto'))
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD CHECK  (([estado]='Entregado' OR [estado]='En producción' OR [estado]='Pendiente'))
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD CHECK  (([total_pedido]>=(0)))
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [CK_PEDIDO_FECHAS] CHECK  (([fecha_entrega_acordada]>=[fecha_pedido]))
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [CK_PEDIDO_FECHAS]
GO
ALTER TABLE [dbo].[PRODUCCION]  WITH CHECK ADD CHECK  (([cantidad_piezas]>(0)))
GO
ALTER TABLE [dbo].[PRODUCCION]  WITH CHECK ADD CHECK  (([etapa_actual]='Acabado' OR [etapa_actual]='Cocción' OR [etapa_actual]='Decoración' OR [etapa_actual]='Secado' OR [etapa_actual]='Modelado'))
GO
ALTER TABLE [dbo].[PRODUCCION]  WITH CHECK ADD  CONSTRAINT [CK_PRODUCCION_FECHAS] CHECK  (([fecha_fin] IS NULL OR [fecha_fin]>=[fecha_inicio]))
GO
ALTER TABLE [dbo].[PRODUCCION] CHECK CONSTRAINT [CK_PRODUCCION_FECHAS]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD CHECK  (([precio_lista]>(0)))
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD CHECK  (([stock_actual]>=(0)))
GO
ALTER TABLE [dbo].[PROVEEDOR]  WITH CHECK ADD CHECK  (([localidad]='Acosvinchos' OR [localidad]='San Miguel' OR [localidad]='Quinua'))
GO
ALTER TABLE [dbo].[PROVEEDOR]  WITH CHECK ADD CHECK  (([plazo_credito_dias]>=(0) AND [plazo_credito_dias]<=(30)))
GO
